{% extends 'core/base.html' %}


{% block content %}
<div class="container mt-5">
<h1 class="text-warning mb-5 border-bottom">SERVICES</h1>
<div class="row text-center text-white mb-5">
<div class="col-sm-4">

<i class="fa-solid fa-magnifying-glass-dollar fa-2x mb-5 i-color"></i>
<h3 class="ss-color">SEO</h3>
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quidem, ex corporis ad ducimus reprehenderit veritatis voluptatum, velit provident laudantium eveniet dolore.
</p>

</div>

<div class="col-sm-4">

    <i class="fa-solid fa-palette fa-2x mb-5 i-color"></i>
    <h3 class="ss-color">WEB DESIGN</h3>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quidem, ex corporis ad ducimus reprehenderit veritatis voluptatum, velit provident laudantium eveniet dolore.
    </p>
    
    </div>

    <div class="col-sm-4">

        <i class="fa-solid fa-code fa-2x mb-5 i-color"></i>
        <h3 class="ss-color">WEB DEVELOPMENT</h3>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quidem, ex corporis ad ducimus reprehenderit veritatis voluptatum, velit provident laudantium eveniet dolore.
        </p>
        
        </div>

        <div class="col-sm-4">
            <!-- <i class="fa-brands fa-android"></i> -->
            <i class="fa-brands fa-android fa-2x mb-5 i-color"></i>
            <h3 class="ss-color">ANDROID</h3>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quidem, ex corporis ad ducimus reprehenderit veritatis voluptatum, velit provident laudantium eveniet dolore.
            </p>
            
            </div>
            
            <div class="col-sm-4">
                
                <i class="fa-brands fa-apple fa-2x mb-5 i-color"></i>
                <h3 class="ss-color">IOS</h3>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quidem, ex corporis ad ducimus reprehenderit veritatis voluptatum, velit provident laudantium eveniet dolore.
                </p>
                
                </div>
            
                <div class="col-sm-4">
            
                    <i class="fa-solid fa-ad fa-2x mb-5 i-color"></i>
                    <h3 class="ss-color">ADVERTISE</h3>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quidem, ex corporis ad ducimus reprehenderit veritatis voluptatum, velit provident laudantium eveniet dolore.
                    </p>
                    
                    </div>


                    <div class="col-sm-4">

                        <i class="fa-solid fa-pencil fa-2x mb-5 i-color"></i>
                        <h3 class="ss-color">LOGO Design</h3>
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quidem, ex corporis ad ducimus reprehenderit veritatis voluptatum, velit provident laudantium eveniet dolore.
                        </p>
                        
                        </div>
                        
                        <div class="col-sm-4">
                        
                            <i class="fa-solid fa-database fa-2x mb-5 i-color"></i>
                            <h3 class="ss-color">HOSTING</h3>
                            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quidem, ex corporis ad ducimus reprehenderit veritatis voluptatum, velit provident laudantium eveniet dolore.
                            </p>
                            
                            </div>
                        
                            <div class="col-sm-4">
                        
                                <i class="fa-solid fa-headset fa-2x mb-5 i-color"></i>
                                <h3 class="ss-color">Support</h3>
                                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quidem, ex corporis ad ducimus reprehenderit veritatis voluptatum, velit provident laudantium eveniet dolore.
                                </p>
                                
                                </div>

</div>
</div>
{% endblock content %}